/* GENERAL PAGE STYLING */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #001101; /* deep black */
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;background-color: #0d0d0d;
    display: flex;
    justify-content: space-between; /* spread items */
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
    z-index: 900;
}

nav .nav-left,
nav .nav-right {
    display: flex;
    align-items: center;
   
}

nav a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #1DB954; /* Spotify green hover */
}

#btn1 {
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    background-color: #108437;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn1:hover {
    background-color: #1ed760;
}

/* SEARCH */
